<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <dl class="dl-horizontal">
          <br><br><br>
          <% if current_user %>
            <%= form_for [@product, @review]  do |f| %>
            <dt>
              Comments:
            </dt>
            <dd><%= f.text_area :description, class: 'review-text' %></dd>
            <dt></dt>
            <dd>
              <%= f.submit "Write a review", class: 'submit-review' %>
              <%= f.select(:rating, [[1],[2],[3],[4],[5]], {}, {:class => 'review-select'})%>
            </dd> <br><br>
            <%  end %>
          <% end %>
          <dt></dt>
          <dd><h2>Reviews</h2></dd>
          <% @reviews.each do |review| %>
            <dt><%= review.user.first_name %> <%= review.user.last_name %>:</dt>
            <dd><%= review.description %></dd>
            <dt>Rating:</dt>
            <dd><%= review.rating %>/5</dd>
            <dt>Delete:</dt>
            <dd><%= link_to fa_icon('trash'), review_path(review), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %></dd>
            <br>
          <% end %>
          </dl>
      </div>

    </div>

  </article>

</section>
